@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* General Body Styles */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px; /* Standard font size for body text */
  line-height: 1.5; /* 150% leading for readability */
  color: rgb(var(--foreground-rgb));
  background-color: #36313D;
}

.container {
  max-width:1200px;
}

.nav-container {
  max-width: 1600px;
}

/* Headings */
h1, h2, h3 {
  font-family: 'Merriweather', serif;
  line-height: 1.2; /* Slightly tighter leading for headings */
}

h1 {
  font-size: 36px;
  font-weight: 700; /* Bold */
}

h2 {
  font-size: 30px;
  font-weight: 600; /* Semi-bold */
}

h3 {
  font-size: 24px;
  font-weight: 600; /* Semi-bold */
}

/* Navigation and Small Elements */
.nav-item, .small-element {
  font-family: 'Roboto', sans-serif;
  font-size: 14px; /* Slightly smaller font size */
  line-height: 1.4;
  font-weight: 500; /* Medium weight */
}

/* Buttons and Calls to Action */
.button, .cta {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 600; /* Semi-bold for attention */
}

/* Captions and Minor Details */
.caption, .minor-detail {
  font-family: 'Roboto', sans-serif;
  font-size: 12px; /* Smaller font size for less important text */
  line-height: 1.4;
  font-weight: 400; /* Regular weight */
}


/* splash */

.splash {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  margin-top: -50px;
}

/* timeline */

.timeline {
  position: relative;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%; /* Center the line */
  width: 2px;
  background: #c5c5c5;
  transform: translateX(-50%);
}

.timeline-item {
  position: relative;
  width: 40%; /* Adjust based on your design */
  margin-bottom: 20px;
}

.timeline-item.left {
  align-self: flex-start;
}

.timeline-item.right {
  align-self: flex-end;
}

.timeline-item::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;  /* Increased size */
  height: 20px; /* Increased size */
  border-radius: 50%;
  background: #FF6F00;
  border: 2px solid #FF6F00;
}

.timeline-item.left::before {
  right: -10px; /* Adjust position to accommodate increased size */
}

.timeline-item.right::before {
  left: -10px; /* Adjust position to accommodate increased size */
}

.description-point {
  position: relative;
  padding-left: 20px; /* Adjust as needed */
  margin-bottom: 5px; /* Spacing between points */
}

.description-point::before {
  content: '•'; /* Unicode character for a bullet */
  position: absolute;
  left: 0;
  top: 0;
}

/* colors */

.bg-grey {
  background-color: #2B303A;
}

.bg-blue {
  background-color: #007BFF;
}

.bg-platinum {
  background-color: #E5E5E5;
}

.bg-orange {
  background-color: #FF6F00;
}

.color-orange {
  color: #FF6F00;
}

.bg-white {
  background-color: #FFFFFF;
}

.bg-onyx {
  background-color: #36313D;
}

.color-onyx {
  color: #36313D;
}

.color-white {
  color: #fff;
}

/***************************************************
 * Generated by SVG Artista on 12/10/2023, 7:17:06 PM
 * MIT license (https://opensource.org/licenses/MIT)
 * W. https://svgartista.net
 **************************************************/

 svg .svg-elem-1 {
  fill: transparent;
  -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
          transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
}

svg.active .svg-elem-1 {
  fill: rgb(229, 229, 229);
}

svg .svg-elem-2 {
  fill: transparent;
  -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
          transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s;
}

svg.active .svg-elem-2 {
  fill: rgb(229, 229, 229);
}

svg .svg-elem-3 {
  fill: transparent;
  -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
          transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s;
}

svg.active .svg-elem-3 {
  fill: rgb(229, 229, 229);
}

svg .svg-elem-4 {
  fill: transparent;
  -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
          transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s;
}

svg.active .svg-elem-4 {
  fill: rgb(229, 229, 229);
}

svg .svg-elem-5 {
  fill: transparent;
  -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
          transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s;
}

svg.active .svg-elem-5 {
  fill: rgb(229, 229, 229);
}

svg .svg-elem-6 {
  fill: transparent;
  -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
          transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s;
}

svg.active .svg-elem-6 {
  fill: rgb(229, 229, 229);
}

svg .svg-elem-7 {
  fill: transparent;
  -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s;
          transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s;
}

svg.active .svg-elem-7 {
  fill: rgb(229, 229, 229);
}

svg .svg-elem-8 {
  fill: transparent;
  -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
          transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s;
}

svg.active .svg-elem-8 {
  fill: rgb(229, 229, 229);
}

svg .svg-elem-9 {
  fill: transparent;
  -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
          transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s;
}

svg.active .svg-elem-9 {
  fill: rgb(229, 229, 229);
}

svg .svg-elem-10 {
  fill: transparent;
  -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s;
          transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s;
}

svg.active .svg-elem-10 {
  fill: rgb(229, 229, 229);
}

svg .svg-elem-11 {
  fill: transparent;
  -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s;
          transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s;
}

svg.active .svg-elem-11 {
  fill: rgb(229, 229, 229);
}

svg .svg-elem-12 {
  fill: transparent;
  -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9000000000000001s;
          transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9000000000000001s;
}

svg.active .svg-elem-12 {
  fill: rgb(229, 229, 229);
}

svg .svg-elem-13 {
  fill: transparent;
  -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2s;
          transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2s;
}

svg.active .svg-elem-13 {
  fill: rgb(229, 229, 229);
}

svg .svg-elem-14 {
  fill: transparent;
  -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s;
          transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.1s;
}

svg.active .svg-elem-14 {
  fill: rgb(229, 229, 229);
}

svg .svg-elem-15 {
  fill: transparent;
  -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s;
          transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.2s;
}

svg.active .svg-elem-15 {
  fill: rgb(229, 229, 229);
}

svg .svg-elem-16 {
  fill: transparent;
  -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3s;
          transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.3s;
}

svg.active .svg-elem-16 {
  fill: rgb(229, 229, 229);
}

svg .svg-elem-17 {
  fill: transparent;
  -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4000000000000004s;
          transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.4000000000000004s;
}

svg.active .svg-elem-17 {
  fill: rgb(229, 229, 229);
}

svg .svg-elem-18 {
  fill: transparent;
  -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.5s;
          transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.5s;
}

svg.active .svg-elem-18 {
  fill: rgb(229, 229, 229);
}

svg .svg-elem-19 {
  fill: transparent;
  -webkit-transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6s;
          transition: fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2.6s;
}

svg.active .svg-elem-19 {
  fill: rgb(229, 229, 229);
}

.max-w-screen-sm {
  max-width: 600px;
}

.center-icon {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

/* skilla */

.skills-container {
  color: #fff;
  background-color: #333;
  padding: 20px;
  border-radius: 5px;
}

.skills-section h3 {
  margin-bottom: 10px;
}

.skill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.skill-name {
  flex: 1;
}

.skill-level {
  font-weight: bold;
}

.skill-dots {
  display: flex;
  align-items: center;
}

.dot {
  opacity: 0;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #bbb;
  margin-right: 4px;
}

.dot.filled {
  background-color: #007BFF;
  opacity: 0;
}
